<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>OVTOOLS</display-name>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <!-- Upload File -->
    <servlet>
        <servlet-name>UploadFileServlet</servlet-name>
        <servlet-class>servlets.UploadFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenererVueConsolideeDemandesServlet</servlet-name>
        <servlet-class>servlets.GenererVueConsolideeDemandesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadFileServlet</servlet-name>
        <url-pattern>/UploadFileServlet</url-pattern>
    </servlet-mapping>
    <!-- fin Upload File -->
    <servlet>
        <servlet-name>RelanceHotfixServlet</servlet-name>
        <servlet-class>servlets.RelanceHotfixServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuiviDemandesCob</servlet-name>
        <servlet-class>servlets.SuiviDemandesCob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherDigrammePieNewtrac</servlet-name>
        <servlet-class>servlets.AfficherDigrammePieNewtrac</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenererVueConsolideeServlet</servlet-name>
        <servlet-class>servlets.GenererVueConsolideeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelaisGestionIncidentServlet</servlet-name>
        <servlet-class>servlets.DelaisGestionIncidentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutorisationDesTicketsMaintenanceServlet</servlet-name>
        <servlet-class>servlets.AutorisationDesTicketsMaintenanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTicketHraccessDetailsByIdServlet</servlet-name>
        <servlet-class>servlets.hrAccess.GetTicketHraccessDetailsByIdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTicketHraccess</servlet-name>
        <servlet-class>servlets.hrAccess.UpdateTicketHraccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllTypesRegles</servlet-name>
        <servlet-class>servlets.GetAllTypesRegles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionLivraisonControlerServlet</servlet-name>
        <servlet-class>servlets.GestionLivraisonControlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdministrationFonctionnalitesServlet</servlet-name>
        <servlet-class>servlets.AdministrationFonctionnalitesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdministrationFonctionnalitesServlet</servlet-name>
        <url-pattern>/AdministrationFonctionnalitesServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdministrationNivProjetServlet</servlet-name>
        <servlet-class>servlets.AdministrationNivProjetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdministrationNivProjetServlet</servlet-name>
        <url-pattern>/AdministrationNivProjetServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdministrationParametresServlet</servlet-name>
        <servlet-class>servlets.AdministrationParametresServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdministrationParametresServlet</servlet-name>
        <url-pattern>/AdministrationParametresServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdministrationServlet</servlet-name>
        <servlet-class>servlets.AdministrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdministrationServlet</servlet-name>
        <url-pattern>/AdministrationServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdministrationTypesReglesServlet</servlet-name>
        <servlet-class>servlets.AdministrationTypesReglesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdministrationTypesReglesServlet</servlet-name>
        <url-pattern>/AdministrationTypesReglesServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AfficherDigrammePie</servlet-name>
        <servlet-class>servlets.AfficherDigrammePie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AfficherDigrammePie</servlet-name>
        <url-pattern>/AfficherDigrammePie</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AfficherMessageEtatAvancement</servlet-name>
        <servlet-class>servlets.AfficherMessageEtatAvancement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AfficherMessageEtatAvancement</servlet-name>
        <url-pattern>/AfficherMessageEtatAvancement</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AnalyserTicketAnomalie</servlet-name>
        <servlet-class>servlets.AnalyserTicketAnomalie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AnalyserTicketAnomalie</servlet-name>
        <url-pattern>/AnalyserTicketAnomalie</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AutorisationHotfixServlet</servlet-name>
        <servlet-class>servlets.AutorisationHotfixServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AutorisationHotfixServlet</servlet-name>
        <url-pattern>/AutorisationHotfixServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetAllCompaniesMnemonics</servlet-name>
        <servlet-class>servlets.GetAllCompaniesMnemonics</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAllCompaniesMnemonics</servlet-name>
        <url-pattern>/GetAllCompaniesMnemonics</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetTicketDetailsById</servlet-name>
        <servlet-class>servlets.GetTicketDetailsById</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetTicketDetailsById</servlet-name>
        <url-pattern>/GetTicketDetailsById</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HistoriqueHotfixProdServlet</servlet-name>
        <servlet-class>servlets.HistoriqueHotfixProdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HistoriqueHotfixProdServlet</servlet-name>
        <url-pattern>/HistoriqueHotfixProdServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletGestionAffectationGroupesUtilisateurs</servlet-name>
        <servlet-class>servlets.ServletGestionAffectationGroupesUtilisateurs</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletGestionAffectationGroupesUtilisateurs</servlet-name>
        <url-pattern>/ServletGestionAffectationGroupesUtilisateurs</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletGestionGroupesUtilisateurs</servlet-name>
        <servlet-class>servlets.ServletGestionGroupesUtilisateurs</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletGestionGroupesUtilisateurs</servlet-name>
        <url-pattern>/ServletGestionGroupesUtilisateurs</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletGestionUtilisateur</servlet-name>
        <servlet-class>servlets.ServletGestionUtilisateur</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletGestionUtilisateur</servlet-name>
        <url-pattern>/ServletGestionUtilisateur</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletInitialisationReferentielAction</servlet-name>
        <servlet-class>servlets.ServletInitialisationReferentielAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletInitialisationReferentielAction</servlet-name>
        <url-pattern>/ServletInitialisationReferentielAction</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletNormesEtMethodes</servlet-name>
        <servlet-class>servlets.ServletNormesEtMethodes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletNormesEtMethodes</servlet-name>
        <url-pattern>/ServletNormesEtMethodes</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletWorkflowDataManage</servlet-name>
        <servlet-class>servlets.ServletWorkflowDataManage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletWorkflowDataManage</servlet-name>
        <url-pattern>/ServletWorkflowDataManage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SuiviHotfixServlet</servlet-name>
        <servlet-class>servlets.SuiviHotfixServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SuiviHotfixServlet</servlet-name>
        <url-pattern>/SuiviHotfixServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateTicketLivraison</servlet-name>
        <servlet-class>servlets.UpdateTicketLivraison</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateTicketLivraison</servlet-name>
        <url-pattern>/UpdateTicketLivraison</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserHasEnvironnementServlet</servlet-name>
        <servlet-class>servlets.UserHasEnvironnementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserHasEnvironnementServlet</servlet-name>
        <url-pattern>/UserHasEnvironnementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelanceHotfixServlet</servlet-name>
        <url-pattern>/RelanceHotfixServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuiviDemandesCob</servlet-name>
        <url-pattern>/SuiviDemandesCob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherDigrammePieNewtrac</servlet-name>
        <url-pattern>/AfficherDigrammePieNewtrac</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenererVueConsolideeServlet</servlet-name>
        <url-pattern>/GenererVueConsolideeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelaisGestionIncidentServlet</servlet-name>
        <url-pattern>/DelaisGestionIncidentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutorisationDesTicketsMaintenanceServlet</servlet-name>
        <url-pattern>/AutorisationDesTicketsMaintenanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTicketHraccessDetailsByIdServlet</servlet-name>
        <url-pattern>/GetTicketHraccessDetailsByIdServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTicketHraccess</servlet-name>
        <url-pattern>/UpdateTicketHraccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllTypesRegles</servlet-name>
        <url-pattern>/GetAllTypesRegles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionLivraisonControlerServlet</servlet-name>
        <url-pattern>/GestionLivraisonControlerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenererVueConsolideeDemandesServlet</servlet-name>
        <url-pattern>/GenererVueConsolideeDemandesServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>-1</session-timeout>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!-- Spring Security -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/spring-security.xml
        </param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
