#conteneurAnimation{
    position:absolute;
    left: 300px;
    right: 0;
    margin: 0 auto;
    background-position: absolute; 
    z-index:1;
}

.conteneur_info_bull span{
    position:absolute;
    margin-top:22px;
    margin-left:-825px;
    color:#35427E;
    background-color: #fffcf9;
    max-width: 1000px;
    width: 1000px;
    min-width: 400px;
    white-space: pre-wrap;
    padding:10px;
    border-radius:2px;
    box-shadow:0 0 2px rgba(0,0,0,.5);
    transform:scale(0) rotate(-12deg);
    transition:all .25s;
    opacity:0;
    text-align: left;
}
/* quand le .info-icon est hover ou focus, son voisin span sera ... */  
.info-icon:hover ~span, .info-icon:focus ~span{
    transform:scale(1) rotate(0); 
    opacity:1;
}
.info-icon{
    cursor: pointer;
    vertical-align: bottom;
    margin-left: 19px
}

input[type=checkbox].active_checkbox {
    position:absolute;
    z-index:-1000;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height:2px;
    width:2px;
    margin:-2px;
    padding:0;
    border:0;
}

input[type=checkbox].active_checkbox + label.css-label {
    padding-left:22px;
    height:22px; 
    display:inline-block;
    line-height:22px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:22px;
    vertical-align:middle;
    cursor:pointer;
    margin-left: 19px
}

input[type=checkbox].active_checkbox:checked + label.css-label {
    background-position: 0 -22px;
}

label.css-label {
    background-image:url(../images/radio.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}